<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf ="sesionIniciada"><a routerLink="/inicio">Inicio</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/administracion/buscar-producto">Productos</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/administracion/personas">Clientes</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/seguridad/cambioclave">Cambie su Clave</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesión</a></li>
        <li *ngIf ="!sesionIniciada"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/seguridad/identificar">{{nombre}}</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li *ngIf ="sesionIniciada"><a routerLink="/inicio">Inicio</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/administracion/buscar-producto">Productos</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/administracion/personas">Clientes</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/seguridad/cambioclave">Cambie su Clave</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesión</a></li>
        <li *ngIf ="!sesionIniciada"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
        <li *ngIf ="sesionIniciada"><a routerLink="/seguridad/identificar">{{nombre}}</a></li>
  </ul>
