<form [formGroup]="fgValidador" (ngSubmit)="GuardarProducto()" > <!-- Change The Form Method From Here-->
    <div class="card-panel z-depth-5">

        <!-- Form Logo Section  -->

        <div class="row margin">
            <div class="col s12 m12 l12 center">
                <img src="https://i.imgur.com/ypAbAYt.png"
                 alt="" class="responsive-img circle" style="width:100px;">
                <p>Crear Producto</p>
            </div>
        </div>

        <!-- Form Username Input Section -->

        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input  formControlName = 'nombre' type="text" name="username" >
                <label for="username">Ingrese el nombre del producto</label>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input  formControlName = 'precio' type="text" name="precio" >
                <label for="precio">Ingrese el precio del producto</label>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input  formControlName = 'imagen' type="text" name="imagen" >
                <label for="imagen">Ingrese la imagen del producto</label>
            </div>
        </div>

 

            <!-- Form Button Section  -->

        <div class="center">
            <input  [disabled]="!fgValidador.valid" type="submit" value="Guardar Producto" name="login" 
            class="btn waves-effect waves-light " 
            style="width:100%; background-color: #ff4081;">
        </div>

            <!-- Form "Register Now" And "Forgot Password" Link Section. -->

        <br>
    </div>
</form>
